# XXX use official release when https://github.com/OCR-D/core/pull/250 is merged:
git+https://github.com/mikegerber/core.git@f385c5fc428fd27a48910ddf047241df19c6b378#subdirectory=ocrd_models&egg=ocrd-models

git+https://github.com/seuretm/ocrd_typegroups_classifier.git

ocrd_kraken
tesserocr == 2.3.1  # 2.4.0 fails with Ubuntu 18.04's tesseract
ocrd_tesserocr
