ocrd >= 1.0.0b10

# FIXME Pulls in Pillow 6 ⇒ dependency conflict with core or something
# https://github.com/mikegerber/ocrd_typegroups_classifier/archive/fix/pass-down-page-id.tar.gz  # XXX git+https://github.com/seuretm/ocrd_typegroups_classifier.git

https://github.com/mikegerber/ocrd_kraken/archive/fix/pass-down-page-id.tar.gz  # XXX ocrd_kraken >= 0.1.1

ocrd_tesserocr

setuptools >= 41.0.0  # FIXME tensorboard seems to depend on this, but why do we get an error at runtime?
https://github.com/mikegerber/ocrd_calamari/archive/250a24d.tar.gz

https://github.com/qurator-spk/dinglehopper/archive/10f010e.tar.gz
